{% load static %} {% load staticfiles %} {% load i18n %}

<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>R+</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Receita Mais</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <li><a href="{% url 'create_prescription' %}">{% trans "Nova Prescrição"%}</a></li>
                <li><a href="#">{% trans "Novo Manipulado"%}</a></li>
                <li><a href="#">{% trans "Personalizar Prescrições"%}</a></li>

                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"></li>
                        <li>
                            <!-- inner menu: contains the messages -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->

                                    <!-- end message -->
                            </ul>
                            <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">{% trans "Veja todas as mensagens"%}</a></li>
                    </ul>
                </li>

                <!-- /.messages-menu -->

                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"></li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li>
                                    <!-- start notification -->

                                </li>
                                <!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">{% trans "Veja todas as notificações !"%}</a></li>
                    </ul>
                </li>

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="{% static 'img/user.png' %}" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ request.user.name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src= "{% static 'img/user.png' %}" class="img-circle" alt="User Image">

                            <p>
                                 {{ request.user.name }}
                                <small>{% trans "Especialização"%}</small>
                            </p>
                        </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">{% trans "Perfil"%}</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat">{% trans "Sair"%}</a>
                                </div>
                                <div class="pull-left">
                                    <a href="{% url 'edit_hp_password' request.user.email %}" class="btn btn-default btn-flat">{% trans "Editar Senha"%}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
