{% load static %} {% load staticfiles %} {% load i18n %}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'img/user.png' %}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{% trans "Usuário"%}</p>
        <!-- Status -->
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li class="treeview">
        <a href="pages/mailbox/mailbox.html">
          <i class="fa fa-envelope"></i> <span>{% trans "Conversas" %} </span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'inbox_health_professional' %}">{% trans "Caixa de Entrada"%}</a></li>
          <li><a href="{% url 'outbox' %}">{% trans "Caixa de Saída"%}</a></li>
          <li><a href="{% url 'compose' %}">{% trans "Nova Mensagem"%}</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-users"></i> <span>{% trans "Paciente"%}s</span></a></li>
      <li class="treeview">
        <a href="#"><i class="fa fa-files-o"></i> <span>{% trans "Receitas"%}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">{% trans "Criar nova receita"%}</a></li>
          <li><a href="#">{% trans "Visualizar favoritos"%}</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-medkit"></i> <span>{% trans "Medicamentos"%}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'create_medicine' %}">{% trans "Criar novo medicamento"%}</a></li>
                    <li><a href="{% url 'list_all_medicines' %}">{% trans "Visualizar medicamentos"%}</a></li>
                    <li><a href="{% url 'list_manipulated_medicines' %}">{% trans "Visualizar manipulados"%}</a></li>
                    <li><a href="{% url 'create_activePrinciple' %}">{% trans "Criar princípios ativos"%}</a></li>
                    <li><a href="{% url 'activeprinciple_list' %}">{% trans "Visualizar princípios ativos"%}</a></li>
                </ul>
            </li>

      <li class="treeview">
        <a href="{% url 'disease_list' %}"><i class="fa fa-heartbeat"></i> <span>{% trans "Doenças"%}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'disease_list' %}">{% trans "Doenças"%}</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-medkit"></i> <span>{% trans "Exames"%}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'create_custom_exams' %}">{% trans "Criar novo Exame"%}</a></li>
          <li><a href="{% url 'list_exams' %}">{% trans "Visualizar Exames"%}</a></li>
          <li><a href="{% url 'list_custom_exams' %}">{% trans "Visualizar Exames Personalizados"%}</a></li>
        </ul>
      </li>

    </ul>

    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
