<!DOCTYPE html>

<html>

<head>
    {% load staticfiles %} {% csrf_token %} {% include "dashboard/head.html" %}
</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">

        <!-- navigation bar -->
        {% include "dashboardHealthProfessional/nav_bar.html" %}

        <!-- parte de baixo -->
        {% include "dashboardHealthProfessional/side_bar.html" %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content container-fluid">

                 {% block content %} {% endblock %}

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <div class="control-sidebar-bg"></div>
    </div>

{% load static %}{% load staticfiles %}

<!--========== JAVASCRIPTS ==========-->

<script src="{% static "dashboard/bowercomponents/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "dashboard/bowercomponents/notify/js/bootstrap-notify.js" %}"></script>
<script src="{% static "dashboard/bowercomponents/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "dashboard/dist/js/adminlte.min.js" %}"></script>
<script src="{% static "general/js/jquery-ui.js" %}"></script>

<!--========== END JAVASCRIPTS ==========-->
<link rel="stylesheet" href="{% static "prescription/css/favorite.css" %}">

<link href="{% static "dashboard/bowercomponents/notify/css/notify.css" %}" rel="stylesheet"/>
<link href="{% static "prescription/css/notify.css" %}" rel="stylesheet"/>

</body>

</html>
