{% extends "dashboardPatient/template.html" %} {% block content %} {% load staticfiles %} {% load static %}{% load i18n %}
<!-- Register Form -->
<div class="box box-info">
 <div class="box-header with-border">
   <h3 class="box-title">Edição de Senha</h3>
 </div>
 <!-- /.box-header -->
 <!-- form start -->
 <form class="form-horizontal" method='POST' action=''>
   <div class="box-body">

     <div class="form-group">
       {% csrf_token %}
       {% for error in form.old_password.errors %}
           <div class="alert alert-danger" role="alert">{{ error }}</div>
       {% endfor %}
       <label for="" class="col-sm-2 control-label">{% trans "Senha Antiga:"%}</label>
       <div class="col-sm-10">
         {{ form.old_password }}
       </div>
     </div>
     <br>

     <div class="form-group">
       {% for error in form.password.errors %}
           <div class="alert alert-danger" role="alert">{{ error }}</div>
       {% endfor %}
       <label for="" class="col-sm-2 control-label">{% trans "Nova senha"%}</label>
       <div class="col-sm-10">
         {{ form.password }}
       </div>
     </div>

     <br>

     <div class="form-group">
       {% for error in form.password_confirmation.errors %}
           <div class="alert alert-danger" role="alert">{{ error }}</div>
       {% endfor %}
       <label for="" class="col-sm-2 control-label">{% trans "Confirme nova senha"%}</label>
       <div class="col-sm-10">
         {{ form.password_confirmation }}
       </div>
     </div>

   </div>
   <!-- /.box-body -->
   <div class="box-footer" position="center">
     <button type="submit" class="btn btn-info pull-right">{% trans "Confirmar"%}</button>
   </div>
   <!-- /.box-footer -->
 </form>
</div>
<!-- End Form -->

{% endblock %}
