{% extends "editPatientLanding/template.html" %} {% block content %} {% load staticfiles %} {% load static %}{% load i18n %}
<!-- Register Form -->
<div class="g-position--relative g-bg-color--primary">
  <div class="g-container--md g-padding-y-125--xs">
    <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
      <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Editar Paciente</p>
       <label for="" class="col-sm-2 control-label">{% trans "Dados Cadastrais"%}</label>
    </div>

    <form class="center-block g-width-500--sm g-width-550--md" method='POST' action=''>
      {% csrf_token %}

      <div class="row g-row-col-5 g-margin-b-50--xs">
        <div class="col-sm-10 g-margin-b-30--xs g-margin-b-0--md">
          {% for error in form.name.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}

           <label for="" class="col-sm-2 control-label">{% trans "Nome"%}</label>
          {{ form.name }}
        </div>

        <div class="col-sm-2">
          {% for error in form.sex.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}

           <label for="" class="col-sm-2 control-label">{% trans "Sexo"%}</label>
          {{ form.sex }}
        </div>
      </div>

      <div class="row g-row-col-5 g-margin-b-50--xs">
        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
          {% for error in form.date_of_birth.errors %}
          <div class="alert alert-danger" role="alert">{{error}}</div>
          {% endfor %}

           <label for="" class="col-sm-2 control-label">{% trans "Data de Nascimento"%}</label>
          {{ form.date_of_birth }}
        </div>

        <div class="col-sm-6">
          {% for error in form.phone.errors %}
          <div class="alert alert-danger" role="alert">{{error}}</div>
          {% endfor %}

           <label for="" class="col-sm-2 control-label">{% trans "Telefone:"%}</label>
          {{ form.phone }}
        </div>
      </div>

      <div class="row g-row-col-5 g-margin-b-50--xs">
        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
          {% for error in form.password.errors %}
          <div class="alert alert-danger" role="alert">{{error}}</div>
          {% endfor %}

           <label for="" class="col-sm-2 control-label">{% trans "Senha"%}</label>
          {{ form.password }}
        </div>
      </div>

      <div class="g-text-center--xs">
        <button value='Update' type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">{% trans "Editar"%}</button>
      </div>

    </form>
  </div>
</div>
<!-- End Form -->

{% endblock %}
