{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}


    <div class="panel-body">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'messages/css/messages.css' %}">
      {% for message in messages %}
        <div class="isa_info">
          <i class="fa fa-info-circle"></i>{{ message }}</div>
      {% endfor %}
      <table class="table table-striped table-bordered table-hover">
      {% if list_linked_patients %}
        <thead>
          <th>{% trans "Nome" %}</th>
          <th>{% trans "Email" %}</th>
        <th>{% trans "Status" %}</th>
        </thead>
      <tbody>
    {% endif %}

      {% for relation in list_linked_patients %}
      <tr class='clickable-row'>
            {% if relation.associated_patient.name %}
            <td>{{ relation.associated_patient.name }}</td>
                {% else %}
            <td>------------------</td>
            {% endif %}
            <td>{{ relation.associated_patient.email }}</td>
            {% if relation.is_active %}
                 <td><span class="glyphicon glyphicon-ok"></span></td>
                {% else %}
                <td><span class="glyphicon glyphicon-remove"></span></td>
                {% endif %}
      </tr>

      {% empty %}

        {% trans "Não existem pacientes em sua lista." %}

      {% endfor %}
      </table>
    </div>
    {# .... **Now the pagination section** ....#}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "Página Anterior" %}</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "Próxima Página" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}
