{% extends "landing/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}
<!-- Register Form -->
<div class="g-position--relative g-bg-color--primary">
    <div class="g-container--md g-padding-y-125--xs">
        <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">{% trans "Recuperar senha"%}</p>
        </div>

        <form class="center-block g-width-500--sm g-width-550--md" method='POST' action='.'>
             {% csrf_token %}

            <div class="g-text-center--xs row g-row-col-5 g-margin-b-50--xs">
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                    <font size="6">
                      <span class = "label label-primary">{% trans "Digite a nova senha"%}</span>
                    </font>
                    {{ form.password }}
            </div>

            <div class="g-text-center--xs row g-row-col-5 g-margin-b-50--xs">
                    {% for error in form.confirm_password.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}


                    <font size="6">
                      <span class = "label label-primary">{% trans "Confirme a senha"%</span>
                    </font>
                    {{ form.password_confirmation }}
            </div>

            <div class="g-text-center--xs">
                <button value='Recover' type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">{% trans "Salvar"%}</button>
            </div>

        </form>
    </div>
</div>
<!-- End Form -->

{% endblock %}
