{% extends "landing/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}
<!-- Register Form -->
<div class="g-position--relative g-bg-color--primary">
    <div class="g-container--md g-padding-y-125--xs">
        <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">{% trans "Cadastro Profissional de Saúde"%}</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">{% trans "Dados Cadastrais"%}</h2>
        </div>

        <form class="center-block g-width-500--sm g-width-550--md" method='POST' action='' name='form'>
             {% csrf_token %}

            <div class="row g-row-col-5 g-margin-b-50--xs">
                <div class="col-sm-10 g-margin-b-30--xs g-margin-b-0--md">
                    {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Nome"%}</h4>
                    {{ form.name }}
                </div>

                <div class="col-sm-2">
                    {% for error in form.sex.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Sexo"%}</h4>
                    {{ form.sex }}
                </div>
            </div>

            <div class="g-margin-b-30--xs">
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}

                <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Email"%}</h4>
                {{ form.email }}
            </div>

            <div class="row g-row-col-5 g-margin-b-50--xs">
                <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                    {% for error in form.date_of_birth.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                     <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Data de Nascimento"%}</h4>
                     {{ form.date_of_birth }}
                </div>

                <div class="col-sm-6">
                    {% for error in form.phone.errors %}
                         <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Telefone:"%}</h4>
                    {{ form.phone }}
                </div>
            </div>

            <div class="row g-row-col-5 g-margin-b-50--xs">
                <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Senha"%}</h4>
                     {{ form.password }}
                </div>

                <div class="col-sm-6">
                    {% for error in form.confirm_password.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Confirme sua senha"%}</h4>
                     {{ form.confirm_password }}
                </div>
            </div>

            <div class="row g-row-col-5 g-margin-b-50--xs">
                <div class="col-sm-9 g-margin-b-30--xs g-margin-b-0--md">
                    {% for error in form.crm.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "CRM"%}</h4>
                     {{ form.crm }}

                </div>

                <div class="col-sm-3">
                     {% for error in form.crm_state.errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">{% trans "Estado"%}</h4>
                     {{ form.crm_state }}
                </div>
            </div>

            <div class="row g-row-col-5 g-margin-b-50--xs">
                <div class="col-sm-6">
                    {% for error in form.specialty_first.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">Especialidade Principal: </h4>
                     {{ form.specialty_first }}

                </div>

                <div class="col-sm-6">
                     {% for error in form.specialty_second.errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}

                    <h4 class="g-font-size-14--xs g-font-size-14--sm g-color--white">Especialidade Secundaria:</h4>
                     {{ form.specialty_second }}
                </div>
            </div>




            <div class="g-text-center--xs">
                <button value='Criar' type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">{% trans "Cadastrar"%}</button>
                <br><a class="g-color--white g-font-size-13--xs" href="{% url 'login_healthprofessional' %}">{% trans "Já possui conta?Faça login agora!"%}</a><br>

            </div>

        </form>
    </div>
</div>
<!-- End Form -->

<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://digitalbush.com/wp-content/uploads/2014/10/jquery.maskedinput.js"></script>
<script src="{% static "mask/jquery.mask.min.js" %}"></script>
<!-- Adicionando Javascript -->
<script src="{% static "user/mask_user.js" %}"></script>
{% endblock %}
