{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %}  

<html>
<body>

<h1>Dados de todos os profissionais de saude no sistema</h1>


{% for health_professional in health_professionals %}

<p>
Nome: <b>{{ health_professional.name }}</b>
<br>
Data de Nascimento:<b>{{ health_professional.date_of_birth|date:'d/m/Y'}}</b>
<br>
Telefone: <b>{{ health_professional.phone }} </b>
<br>
Email: <b>{{ health_professional.email }}</b>
<br>
Sex: <b></b>{{ health_professional.sex }}</b>

<br>
CRM: <b>{{ health_professional.crm }}</b>
<br>
Estado da CRM: <b>{{ health_professional.crm_state }}</b>
</p>
<p>
	pk:  <b>{{ health_professional.pk }}</b>
</p>

{% endfor %}

</body>
</html>

{%endblock %}