<html>

<body>

	<h1>Dados de todos os pacientes de saude no sistema</h1> {% for patient in patients %}

	<p>
		Nome: <b>{{ patient.user.name }}</b>
		<br> Data de Nascimento:<b>{{ patient.user.date_of_birth|date:'d/m/Y'}}</b>
		<br> Telefone: <b>{{ patient.user.phone }} </b>
		<br> Email: <b>{{ patient.user.email }}</b>
		<br> Sex: <b></b>{{ patient.user.sex }}</b>

		<br> ID Document: <b>{{ patient.id_document }}</b>
	</p>
	<p>
		pk: <b>{{ patient.pk }}</b>
	</p>

	{% endfor %}

</body>

</html>
