{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}

    {% if list_disease %}
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th>{% trans "Código Descrição" %}</th>
        </thead>
      <tbody>

      {% for disease in list_disease %}
      <tr class='clickable-row'>
        <td>{{ disease.description }}</td>
      </tr>        
      {% endfor %}
      </table>
    </div>
    {# .... **Now the pagination section** ....#}
                {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
    {% else %}
      {% trans "Não existem doenças cadastradas." %}
    {% endif %}


{# .... **More content, footer, etc.** .... #}

{% endblock %}
