{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}

    {% if list_disease %}
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th>{% trans "Código" %}</th>
          <th>{% trans "Descrição" %}</th>
        </thead>
      <tbody>

      {% for disease in list_disease %}
      <tr class='clickable-row'>
        <td>{{ disease.id_cid_10 }}</td>
        <td>{{ disease.description }}</td>
      </tr>        
      {% endfor %}
      </table>
    </div>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Página Anterior</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima página</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% else %}
      <li>{% trans "Não existem doenças cadastradas." %}</li>
    {% endif %}


{# .... **More content, footer, etc.** .... #}

{% endblock %}
