{% extends "landing/template.html" %} {% block content %} {% load staticfiles %} {% load static %}

<div>

            <!--========== SWIPER SLIDER ==========-->
            <div class="s-swiper js__swiper-slider">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">  
                    <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background-image: url({% static 'landing/img/1920x1080/14.jpg' %})" >
                        <div class="container g-ver-center--xs">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="g-margin-b-50--xs">
                                        <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-60--md g-color--white">Profissional de Saúde?</h1>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="g-font-size-18--xs g-font-size-22--sm g-color--white-opacity">Já possui uma conta?</p>
                                                <a href="#" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-50--xs">Logue-se Agora</a>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="g-font-size-18--xs g-font-size-22--sm g-color--white-opacity">Não possui?</p>
                                                <a href="#" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-50--xs">Cadastre-se</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background: url({% static 'landing/img/1920x1080/13.jpg' %})" >
                        <div class="container g-text-right--xs g-ver-center--xs">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <div class="g-margin-b-50--xs">
                                        <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-60--md g-color--white">Paciente?</h1>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="g-font-size-18--xs g-font-size-22--sm g-color--white-opacity">Já possui uma conta?</p>
                                                <a href="#" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-50--xs">Logue-se Agora</a>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="g-font-size-18--xs g-font-size-22--sm g-color--white-opacity">Não possui?</p>
                                                <p class="g-font-size-14--xs g-font-size-18--sm g-color--white-opacity">Converse com seu médico agora para receber seu convite de acesso!</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Swiper Wrapper -->

                <!-- Pagination -->
                <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--bc s-swiper__pagination-v1--white js__swiper-pagination"></div>
            </div>
            <!--========== END SWIPER SLIDER ==========-->

            <!-- News -->
            <div class="container-fluid g-padding-y-80--xs g-padding-y-125--sm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-22--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Sobre o Receita Mais</p>
                    <p>O receita mais é uma plataforma que busca auxiliar profissionais de saúde no gerenciamento de suas receitas assim como<br>
                    na comunicação com seus pacientes. Provendo um sistema que permite:
                    </p>
                </div>

                <!-- Swiper -->
                <div class="s-swiper js__swiper-news">
                    <!-- Wrapper -->
                    <div class="swiper-wrapper g-margin-b-60--xs">
                        <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background:url({% static 'landing/img/1920x1080/14.jpg' %})">
                            <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Prescrições</h3>
                                    <p class="g-color--white">Clinics can be privately operated.</p>
                                </div>
                                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Saiba Mais</a>
                            </div>
                        </article>
                        <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('img/400x500/08.jpg');">
                            <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Histórico de Receitas</h3>
                                    <p class="g-color--white">Clinics can be privately operated.</p>
                                </div>
                                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Saiba Mais</a>
                            </div>
                        </article>
                        <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('img/400x500/09.jpg');">
                            <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Recomendação de Prescrições</h3>
                                    <p class="g-color--white">Clinics can be privately operated.</p>
                                </div>
                                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Saiba Mais</a>
                            </div>
                        </article>
                        <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('img/400x500/10.jpg');">
                            <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Salve suas precrições favoritas</h3>
                                    <p class="g-color--white">Clinics can be privately operated.</p>
                                </div>
                                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Saiba Mais</a>
                            </div>
                        </article>
                        <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('img/400x500/11.jpg');">
                            <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Geração de Receituário Online</h3>
                                    <p class="g-color--white">Clinics can be privately operated.</p>
                                </div>
                                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Saiba Mais</a>
                            </div>
                        </article>
                        <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('img/400x500/12.jpg');">
                            <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Medical Services</h3>
                                    <p class="g-color--white">Clinics can be privately operated.</p>
                                </div>
                                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Saiba Mais</a>
                            </div>
                        </article>
                        <article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('img/400x500/13.jpg');">
                            <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                                <div class="g-margin-b-25--xs">
                                    <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Medical Services</h3>
                                    <p class="g-color--white">Clinics can be privately operated.</p>
                                </div>
                                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Saiba Mais</a>
                            </div>
                        </article>
                    </div>
                    <!-- End Wrapper -->

                    <!-- Pagination -->
                    <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--dark g-text-center--xs js__swiper-pagination"></div>
                </div>
                <!-- End Swiper -->
            </div>
            <!-- End News -->

            <!--========== PAGE CONTENT ==========-->
    

            <!-- Mockup -->
            <div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--xsm">
                <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-80--xs g-margin-b-100--md">
                    <div class="col-sm-5 g-hor-centered-row__col">
                        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs"> </p>
                        <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">É profissional de saúde e se interessou?</h2>
                        <p class="g-font-size-18--sm">Cadastre-se agora mesmo clicando no botão abaixo para começar a aproveitar as oportunidades disponibilizadas.É rápido e
                        de graça.</p>
                        <div align="center">
                            <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Saiba Mais</button>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 g-hor-centered-row__col">
                        <img class="img-responsive" src="img/mockups/iphone-03.png" alt="Mockup Image">
                    </div>
                </div>
                <div class="row g-hor-centered-row--md g-row-col--5">
                    <div class="col-sm-5 col-sm-push-7 g-hor-centered-row__col">
                        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs"> </p>
                        <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">É um paciente e deseja utilizar o sistema?</h2>
                        <p class="g-font-size-18--sm">Clique no botão a baixo e saiba como fazer para ter acesso!</p>
                        <div align="center">
                            <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Saiba Mais</button>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
                        <img class="img-responsive" src="img/mockups/iphone-02.png" alt="Mockup Image">
                    </div>
                </div>
            </div>
            <!-- End Mockup -->

            
    
</div>

{% endblock %}