{% extends "landing/template.html" %} {% block content %} {% load staticfiles %} {% load static %}

<div>

            <!--========== SWIPER SLIDER ==========-->
            <div class="s-swiper js__swiper-slider">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">  
                    <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background-image: url({% static 'landing/img/1920x1080/14.jpg' %})" >
                        <div class="container g-ver-center--xs">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="g-margin-b-50--xs">
                                        <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-60--md g-color--white">Medical Services<br>that You Can Trust</h1>
                                        <p class="g-font-size-18--xs g-font-size-22--sm g-color--white-opacity">A clinic is a healthcare facility that is primarily focused on the care of outpatients.</p>
                                    </div>
                                    <a href="#" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-50--xs">Read More</a>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background: url({% static 'landing/img/1920x1080/13.jpg' %})" >
                        <div class="container g-text-right--xs g-ver-center--xs">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <div class="g-margin-b-50--xs">
                                        <h2 class="g-font-size-32--xs g-font-size-45--sm g-font-size-55--md g-color--white">Medical Excellence<br>Every Day</h2>
                                        <p class="g-font-size-18--xs g-font-size-22--sm g-color--white-opacity">Clinics can be privately operated or publicly managed and funded.</p>
                                    </div>
                                    <a href="#" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-50--xs">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Swiper Wrapper -->

                <!-- Pagination -->
                <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--bc s-swiper__pagination-v1--white js__swiper-pagination"></div>
            </div>
            <!--========== END SWIPER SLIDER ==========-->
    
</div>

{% endblock %}