<!DOCTYPE html>
<html lang="en-US">
<head>
{% load static %} {% load staticfiles %}
	<!-- Meta tags & title /-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="robots" content="all,index,follow" />

	<title>Time</title>
	<meta name="description" content="Speakers - Free Meet the Team Section Tutorial" />

	<!-- Stylesheets /-->

	<link rel="stylesheet" type="text/css" href="{% static "team/css/style.css" %}" /> <!-- Main stylesheet /-->
	<link rel="stylesheet" type="text/css" href="{% static "team/css/bootstrap.css" %}"> <!-- Grid framework /-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'> <!-- Open Sans /-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'> <!-- PT Sans Narrow /-->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> <!-- Font Awesome /-->

</head>

<body>

	<!-- SPEAKERS SECTION -->
	<section id="speakers">
		<h3>Time</h3> <!-- Section Title -->
		<div class="separator"></div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<!-- Section Description -->
				<p>Aqui se encontra a equipe de desenvolvimento responsável pela criação do Receituário Médico. Este projeto foi construído na disciplina de MDS/GPP 2017/2.</p>
			</div>

			<!-- First Row of Speakers -->
			<div class="row1">
				<!-- Speaker 1 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src= "{% static "team/img/speaker-1.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src= "{% static "team/img/speaker-1-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Ronyell </span> Santos</h4>
					</a>
					<ul>
						<li><a href="https://github.com/Ronyell" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 2 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src= "{% static "team/img/speaker-2.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src= "{% static "team/img/speaker-2-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Lucas</span> Hiroshi</h4>
					</a>
					<ul>
						<li><a href="https://github.com/Hiroshi18" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 3 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-3.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-3-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Thiago</span> Nogueira</h4>
					</a>
					<ul>
						<li><a href="https://github.com/thiagonf" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 4 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-4.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-4-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Nathália</span> Rodrigues</h4>
					</a>
					<ul>
						<li><a href="https://github.com/nahmrodrigues" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

			</div> <!-- End First Row -->
			<div class="clear"></div>

			<!-- Second Row of Speakers -->
			<div class="row1">

				<!-- Speaker 5 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-5.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-5-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Marcelo</span> Augusto</h4>
					</a>
					<ul>
						<li><a href="https://github.com/maugustoo" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 6 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-6.png"  %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-6-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Guilherme</span> Marques</h4>
					</a>
					<ul>
						<li><a href="https://github.com/GuiMarques98" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 7 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-7.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-7-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>João</span> Paulo</h4>
					</a>
					<ul>
						<li><a href="https://github.com/joaopaulonsoares" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 8 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-8.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-8-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Felipe</span> Borges</h4>
					</a>
					<ul>
						<li><a href="https://github.com/Bumbleblo" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

			</div>	<!-- End Second Row -->
			<div class="clear"></div>

			<div class="clear"></div>

			<!-- Second Row of Speakers -->
			<div class="row1">

				<!-- Speaker 5 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-9.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-9-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Lucas</span> Kishima</h4>
					</a>
					<ul>
						<li><a href="https://github.com/lucaskishima" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 6 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="unhover_img">
						<img src="{% static "team/img/speaker-10.png" %}" alt="" />
						</div>
						<div class="hover_img">
						<img src="{% static "team/img/speaker-10-hover.png" %}" alt="" />
						</div>
						<span>Desenvolvedor</span>
						<h4><span>Mateus</span> Nóbrega</h4>
					</a>
					<ul>
						<li><a href="https://github.com/mateusnr" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

			</div>	<!-- End Second Row -->
			<div class="clear"></div>

			<!-- View All Button -->
			<div class="col-md-12">
				<a href="{% url 'landing_page' %}"><button class="btn btn-transparent">Voltar</button></a>
			</div>

		</div>
	</section>
	<!-- //SPEAKERS SECTION -->

	<script src="{% static "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %}"></script> <!-- Load jQuery -->

	<!-- jQuery Code for the View All Button -->
	<script>
		$(document).ready(function(){
		  $(".fadeIn").click(function(){
			$("div.row2").fadeIn();
			$("button.fadeIn").hide();
		  });
		});
	</script>

</body>
</html>
