*.pyc
__pycache__
virtual/
.vscode/
.idea/
db.sqlite3
.DS_Store
.coverage
media
**/dist/**
debug.log
htmlcov
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.sonar/
.ropeproject/
**/public/**
**/ReceitaMais.egg-info/**
staticfiles
