class HealthProfessional(models.Model, User)
*.pyc
__pycache__
virtual/
.vscode/
db.sqlite3
.DS_Store
.coverage
media
debug.log
htmlcov
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.sonar/
