.transparent-input {
  background-color: rgba(0, 100, 0, 0);
  border: none;
}

.transparent-input:focus {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px #719ECE;
  background-color: rgba(211,211,211, 1);
}
