.select-quantity{
  width: 90%;
  height: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 5px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(230,230,230,1);
}

.list-medicine {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list-recommendation {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list-exam {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


.table{
  margin-left: 0px;
  padding: 0px;
}

.list-medicine li {
  margin-left: 3%;
  padding: 0px;
 }

.list-recommendation li {
  margin-left: 3%;
  padding: 0px;
}

.list-exam li {
  margin-left: 3%;
  padding: 0px;
}

.remove {
  position: relative;
  vertical-align: middle;
  min-height: 100%;
}

.js-show-suggestion {
  background-color:white!important;
  color:black!important;
}
