{% load static %} {% load staticfiles %} {% load i18n %}

<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="" class="simple-text">
    Menu
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="">
          <i class="material-icons">dashboard</i>
          <p>{% trans "Página Principal"%}</p>
        </a>
      </li>
      <li class="editar">
        <a href="{% url 'edit_patient_password' request.user.email %}">
          <i class="material-icons">dashboard</i>
          <p>{% trans "Editar"%}</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">mail</i>
          <p>{% trans "Conversas"%}</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">hourglass_empty</i>
          <p>{% trans "Histórico Médico"%}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
