{% load static %} {% load staticfiles %}

<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="" class="simple-text">
    Menu
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="">
          <i class="material-icons">dashboard</i>
          <p>Página Principal</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">mail</i>
          <p>Conversas</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">hourglass_empty</i>
          <p>Histórico Médico</p>
        </a>
      </li>
    </ul>
  </div>
</div>
