{% extends "dashboardPatient/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}

 <div class="panel-body">
  <!-- tab component -->
  <table class="table table-striped table-bordered table-hover">
  {% if  list_patient_prescription %}
    <thead>
      <th>CID</th>
      <th>Medicamentos</th>
      <th>Recomendações</th>
      <th>Exames</th>
      <th>Imprimir</th>
    </thead>
  {% endif %}

    <tbody>
      {% for prescription in list_patient_prescription %}
        <tr class='clickable-row'>


          {% if  prescription.cid %}
            <td>{{ prescription.cid }}</td>
          {% else %}
              <td>------</td>
          {% endif %}

          <!--  list medicines -->
          <td>
          {% for medicine in prescription.medicines.all %}
                {{ medicine.name|truncatechars:25 }};
          {% endfor %}

          {% for medicine in prescription.manipulated_medicines.all %}
                {{ medicine.recipe_name|truncatechars:25 }};
          {% endfor %}
          <span class="badge">{{ prescription.medicines.all.count|add:prescription.manipulated_medicines.all.count}}</span>

          </td>

          <!--  list recommendations -->
          <td>
          {% for new_recommendations in prescription.new_recommendations.all %}
                {{ new_recommendations.recommendation_description|truncatechars:25 }};
          {% endfor %}

          <span class="badge">  {{ prescription.new_recommendations.all.count}}</span>

          </td>

          <!--  list exams -->
          <td>
          {% for exam in prescription.default_exams.all %}
                {{ exam.description|truncatechars:25 }};
          {% endfor %}

          {% for exam in prescription.custom_exams.all %}
                {{ exam.description|truncatechars:25 }};
          {% endfor %}

          {% for new_exams in prescription.new_exams.all %}
                {{ new_exams.exam_description|truncatechars:25 }};
          {% endfor %}
          <span class="badge">{{ prescription.default_exams.all.count|add:prescription.custom_exams.all.count|add:prescription.new_exams.all.count}}</span>
          </td>

            <td><a href='{% url 'print_prescription_patient' prescription.pk %}'><i class="fa fa-print"></i></a></td>

          </tr>
          {% empty %}
            {% trans "Não existem Prescrições para"%}
           {{ request.user.name|truncatechars:25 }}
        {% endfor %}



    </tbody>
  </table>

  {% comment "Source" %}
  <p>Retirado de: https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html</p>
  {% endcomment %}

  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

<script>
$(document).on('click', '.post-likes', function(){

    var class_span = $(this).find('span').attr("class");
    console.log(class_span);

    if (class_span == 'fa fa-star'){
        $(this).find('span').removeClass('fa fa-star');
        $(this).find('span').addClass('fa fa-star-o');
        $(this).find('span').css('color', 'black');
    }
    else {
        $(this).find('span').removeClass('fa fa-star-o');
        $(this).find('span').addClass('fa fa-star');
        $(this).find('span').css('color', 'orange');
    }

    var url = $(this).attr("url-prescription");

    $.ajax({
        url: url,
        type: "POST",
        dataType: "json",
        data: {  csrfmiddlewaretoken: "{{ csrf_token }}"},
    });
});
 </script>

{% endblock %}