
<!-- {% load staticfiles %} {% load static %} -->

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<script src="{% static "prescription/js/autocompleteexam.js" %}" type="text/javascript"></script>
<script src="{% static "prescription/js/autocompletepatient.js" %}" type="text/javascript"></script>
<script src="{% static "prescription/js/addfield.js" %}" language="Javascript" type="text/javascript"></script>


<div>
    <div class="modal-header">
        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        <h3 class="modal-title">Prescrição</h3>
    </div>
    <div class="row">
    <form class="js-book-prescription-form" action="{% url 'create_modal' %}" method="post">
    <div class="modal-body">
            {# Form to adding modal. #}
              {% csrf_token %}
              <div class="form-group">
                {% for error in form.patient.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}
                <label for="id_{{ form.patient.name }}"> Paciente: </label>
                  {{form.patient}}
              </div>

              <div class="form-group ">
                {% for error in form.cid.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}
                <label for="id_{{ form.cid.name }}"> Doença: </label>
                  {{form.cid}}
              </div>

              <div class="form-group" id="teste">
                {% for error in form.exam.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}
                <label for="id_{{ form.exam.name }}"></label>
                  {{form.exam}}
              </div>

              <input type="button" value="Add another text input" onClick="addInput('teste');">

              <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Salvar</button>
             </div>
        </div>
    </div>
  </form>
</div>
