{% load static %}

<link rel="stylesheet" href="{% static "prescription/css/autocomplete.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/modal_prescription.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/select.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/hidden_email.css" %}">

<script>
        var formset = "{% static "prescription/js/formset.js" %}";
        $.getScript(formset);
</script>

  <div class="js-prescription-create-form">
    <div class="modal-header">
      <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      <h3 class="modal-title">Prescrição</h3>
    </div>

      <div class="modal-body modal-open">
        {% for pattern in list_patterns %}
              <li><a href='{% url 'print_prescription' prescription.pk pattern.pk %}'>{{ pattern.name }}</a></li>
        {% endfor %}

      </div>

  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-primary">Salvar</button>
  </div>
</div>
