{% load static %}

<link rel="stylesheet" href="{% static "prescription/css/autocomplete.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/modal_prescription.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/select.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/hidden_email.css" %}">

<script>
        var formset = "{% static "prescription/js/formset.js" %}";
        var sortable = "{% static "prescription/js/sortable.js" %}";

        $.getScript(formset);
</script>

  <div class="js-prescription-create-form">
    <div class="modal-header">
      <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      <h3 class="modal-title">Prescrição</h3>
    </div>

      <div class="modal-body modal-open">

        <!-- This fields are responsable off patient information. -->
        {% csrf_token %}
        <div class="form-group">
          <label> Paciente: </label>
          {% if prescription.nopatientprescription %}
          <div class="form-control">
              {{prescription.nopatientprescription.patient}}
          </div>
          {% else %}
          <div class="form-control">
              {{prescription.patientprescription.patient.name}} <br>
          </div>
          <br>
          <label>Email:</label>
          <div class="form-control">
              {{prescription.patientprescription.patient.email}}
          </div>
          {% endif %}
        </div>
        {% if prescription.cid %}
            <div class="form-group ">
                <label> Doença: </label>
                <div class="form-control">
                    {{prescription.cid}}
                </div>
            </div>
        {% endif %}

        <hr>

        <!-- This are the tabs in prescription -->
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#home">Medicamento</a></li>
            <li><a data-toggle="tab" href="#menu2">Exames</a></li>
            <li><a data-toggle="tab" href="#menu3">Recomendações</a></li>
        </ul>

        <div class="tab-content">
          <!-- This tab is where the medice take place in prescription. -->
          <!-- This tab have been set as the default. -->
            <div id="home" class="tab-pane fade in active">
                <br>
                  {% for medicine in prescription_medicine %}
                  <ul id='object_medicine' class='list-medicine'>
                    <div class="table_medicine row col-md-12">
                      <div class="panel panel-default" id="panel">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-11">
                                  <div class="form-control">
                                      {{ medicine.via }}

                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-body">
                                <li>
                                  <div class="col-md-11">
                                    <div class="row g-row-col-3">
                                        <div class="col-sm-9">
                                            <div class="form-control">
                                                {{medicine.medicine.name}}
                                            </div>
                                         </div>

                                         <div class="col-sm-3">
                                             <div class="select-quantity">
                                                 {{medicine.quantity}}
                                             </div>
                                          </div>
                                      </div>

                                      <div class="row g-row-col-3">
                                        <div class="col-sm-9">
                                            <div class="form-control">
                                                {{medicine.posology}}

                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                  {% endfor %}
                  {% for manipulated_medicine in prescription_manipulated_medicine %}
                  <ul id='object_medicine' class='list-medicine'>
                    <div class="table_medicine row col-md-12">
                      <div class="panel panel-default" id="panel">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-sm-11">
                                  <div class="form-control">
                                      {{ manipulated_medicine.via }}
                                  </div>

                              </div>
                            </div>
                          </div>
                          <div class="panel-body">

                                <li>
                                  <div class="col-md-11">
                                    <div class="row g-row-col-3">
                                        <div class="col-sm-9">
                                            <div class="form-control">
                                                {{manipulated_medicine.medicine.name}}
                                            </div>
                                         </div>
                                         <div class="col-sm-3">
                                             <div class="select-quantity">
                                                 {{medicine.quantity}}
                                             </div>
                                          </div>
                                      </div>

                                      <div class="row g-row-col-3">
                                        <div class="col-sm-9">
                                            <div class="form-control">
                                                {{manipulated_medicine.posology}}

                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                  {% endfor %}

                  <br>
                  <br>

                        <!-- End Via Panel structure -->
            </div>

            <!-- This tab is where the exams take place in prescription. -->
            <div id="menu2" class="tab-pane fade">

                {% for exam in prescription.custom_exams.all %}
                <ul id='object_exam'>
                  <div class="table_exam">
                    <li>
                      <div class="row">
                        <div class="col-md-11">
                          <div class="form-group">
                              <div class="form-control">
                                  {{ exam.description|truncatechars:175 }}
                              </div>
                           </div>
                        </div>
                   </div>
                     </li>
                  </div>
                </ul>

                {% endfor %}

                {% for exam in prescription.default_exams.all %}
                <ul id='object_exam'>
                  <div class="table_exam">
                    <li>
                      <div class="row">
                        <div class="col-md-11">
                          <div class="form-group">
                              <div class="form-control">
                                  {{ exam.description|truncatechars:175 }}
                              </div>
                           </div>
                        </div>
                      </div>
                     </li>
                  </div>
                </ul>

                {% endfor %}
            </div>

            <!-- This tab is where the recommendations take place in prescription. -->
            <div id="menu3" class="tab-pane fade">

                {% for recomendation in prescription.recommendation_prescription.all %}
                <ul id='object_recommendation'>
                  <div class="table_recommendation">
                    <li>
                      <div class="row">
                        <div class="col-md-11">
                          <div class="form-group">
                              <div class="form-control">
                                  {{ recomendation.recommendation|truncatechars:185 }}
                              </div>
                           </div>
                         </div>
                       </div>
                     </li>
                  </div>
                </ul>
                {% endfor %}

            </div>
        </div>
    </div>

  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-primary">Salvar</button>
  </div>
</div>
