{% load static %}

<link rel="stylesheet" href="{% static "prescription/css/autocomplete.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/modal_prescription.css" %}">
<link rel="stylesheet" href="{% static "prescription/css/select.css" %}">

<script>
        var formset = "{% static "prescription/js/formset.js" %}";
        var sortable = "{% static "prescription/js/sortable.js" %}";

        $.getScript(formset);
        $.getScript(sortable);

        // Methods to clone and autocomplete.
        $('#add_more').click(function() {
          cloneMore('div.table:last', 'form', "{% url 'autocomplete_medicine' %}", "medicine");
        });

        $('#add_more_reccomendation').click(function() {
          cloneMore('div.table_recommendation:last', 'form', "", "recommendation");
        });
        autocompleteElement('#id_form-0-medicine', "{% url 'autocomplete_medicine' %}", "medicine");
        autocompleteElement('#id_patient', "{% url 'autocomplete_patient' %}", "patient");
        autocompleteElement('#id_cid', "{% url 'autocomplete_cid' %}", "cid");
</script>


  <form class="js-prescription-create-form" action="{% url 'create_modal' %}" method="post">
    <div class="modal-header">
      <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      <h3 class="modal-title">Prescrição</h3>
    </div>

      <div class="modal-body modal-open">

        <!-- This fields are responsable off patient information. -->
        {% csrf_token %}
        <div class="form-group">
          {% for error in form.patient.errors %}
          <div class="alert alert-danger" role="alert">{{error}}</div>
          {% endfor %}
          <label for="id_{{ form.patient.name }}"> Paciente: </label> {{form.patient}}
        </div>

        <div class="form-group ">
          {% for error in form.cid.errors %}
          <div class="alert alert-danger" role="alert">{{error}}</div>
          {% endfor %}
          <label for="id_{{ form.cid.name }}"> Doença: </label> {{form.cid}}
        </div>

        <!-- Hidden fields -->
          {{form.cid_id}}
          {{form.patient_id}}
        <hr>

        <!-- This are the tabs in prescription -->
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#home">Medicamento</a></li>
            <li><a data-toggle="tab" href="#menu2">Exames</a></li>
            <li><a data-toggle="tab" href="#menu3">Recomendações</a></li>
        </ul>

        <div class="tab-content">
          <!-- This tab is where the medice take place in prescription. -->
          <!-- This tab have been set as the default. -->
            <div id="home" class="tab-pane fade in active">
                <br>

                  {{ formset.management_form }}
                  {% for atom_form in formset %}
                  <ul id='object_medicine' class='list-medicine'>
                    <div class="table">
                    <li>
                          <div class="form-group">
                              {% for error in atom_form.medicine.errors %}
                              <div class="alert alert-danger" role="alert">{{error}}</div>
                              {% endfor %}
                              {{atom_form.medicine}}
                           </div>

                            <div class="row g-row-col-5 g-margin-b-50--xs">
                              <div class="col-sm-10 g-margin-b-30--xs g-margin-b-0--md">
                                  {% for error in atom_form.posology.errors %}
                                  <div class="alert alert-danger" role="alert">{{error}}</div>
                                  {% endfor %}
                                  {{atom_form.posology}}
                                </div>
                                  <div class="col-sm-2">
                                     {% for error in atom_form.quantity.errors %}
                                     <div class="alert alert-danger" role="alert">{{error}}</div>
                                     {% endfor %}{{atom_form.quantity}}
                                   </div>
                            </div>

                        <!-- Hidden fields -->
                          {{atom_form.medicine_id}}
                          {{atom_form.medicine_type}}
                          <hr>
                    </li>
                  </div>
                  </ul>
                  {% endfor %}

                  <div class="input-group-btn" align="center">
                      <br>
                      <button class="btn btn-success" value="Add More" id="add_more" type="button"><i class="glyphicon glyphicon-plus">Adicionar</i></button>
                      <br>
                  </div>
            </div>

            <!-- This tab is where the exams take place in prescription. -->
            <div id="menu2" class="tab-pane fade">
                <h3>EXAMES AQUI</h3>
            </div>

            <!-- This tab is where the recommendations take place in prescription. -->
            <div id="menu3" class="tab-pane fade">

                {{ formrecommendation.management_form }}
                {% for recommendationField in formrecommendation %}

                <ul id='object_recommendation'>
                  <div class="table_recommendation">
                    <li>
                      <div class="form-group">
                          {% for error in recommendationField.recommendation.errors %}
                          <div class="alert alert-danger" role="alert">{{error}}</div>
                          {% endfor %}
                          {{recommendationField.recommendation}}
                       </div>
                     </li>
                  </div>
                </ul>


                {% endfor %}

                <div class="input-group-btn" align="center">
                    <br>
                    <button class="btn btn-success" value="Add More Recomendation" id="add_more_reccomendation" type="button"><i class="glyphicon glyphicon-plus">Adicionar</i></button>
                    <br>
                </div>


            </div>

        </div>
    </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
