{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %}

  <ul class="nav nav-tabs">
   <li>
     <a href="{% url 'list_all_medications' %}" data-toggle="tab" >Gerais</a>
   </li>

   <li class="active">
     <a data-toggle="tab" href="{% url 'list_medication' %}">Customizados</a>
   </li>
 </ul>
 <div class="panel-body">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th>Nome</th>
      <th>Editar</th>
      <th>Excluir</th>
    </thead>
    <tbody>

      {% for medication in list_medications %}
        <tr class='clickable-row'>
          <td>{{ medication.name }}</td>
          <td><a href="#"><i class="fa-pencil" aria-hidden="true"></></a></td>
          <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a> </td>
        </tr>

      {% empty %}

        <li>Não existem princípios ativos cadastrados.</li>

      {% endfor %}
    </tbody>
  </table>

  {% comment "Source" %}
  <p>Retirado de: https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html</p>
  {% endcomment %}

  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{%endblock %}
