{% load static %}
{% load staticfiles %}

<!--========== HEADER V2 ==========-->
<header class="navbar-fixed-top s-header-v2 js__header-sticky">
    <!-- Navbar -->
    <nav class="s-header-v2__navbar">
        <div class="container g-display-table--lg">
            <!-- Navbar Row -->
            <div class="s-header-v2__navbar-row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="s-header-v2__navbar-col">
                    <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                    <!-- Logo -->
                    <div class="s-header-v2__logo"> 
                        <a href="index.html" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="{% static "landing/img/logo-white.png" %}" alt="Dublin Logo">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="{% static "landing/img/logo.png" %}" alt="Dublin Logo">
                                </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                        <ul class="s-header-v2__nav">
                            <!-- Home -->
                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="index.html" class="dropdown-toggle s-header-v2__nav-link -is-active" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">Home <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li><a href="index.html" class="s-header-v2__dropdown-menu-link">Corporate</a></li>
                                    <li><a href="index_lawyer.html" class="s-header-v2__dropdown-menu-link">Lawyer</a></li>
                                    <li><a href="index_app_landing.html" class="s-header-v2__dropdown-menu-link">App Landing</a></li>
                                    <li><a href="index_events.html" class="s-header-v2__dropdown-menu-link">Events</a></li>
                                    <li><a href="index_clinic.html" class="s-header-v2__dropdown-menu-link -is-active">Clinic</a></li>
                                </ul>
                            </li>
                            <!-- End Home -->

                            <!-- Pages -->
                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="javascript:void(0);" class="dropdown-toggle s-header-v2__nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">Pages <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li><a href="team.html" class="s-header-v2__dropdown-menu-link">Team</a></li>
                                    <li><a href="faq.html" class="s-header-v2__dropdown-menu-link">FAQ</a></li>
                                    <li><a href="events.html" class="s-header-v2__dropdown-menu-link">Events</a></li>
                                    <li><a href="index_coming_soon.html" class="s-header-v2__dropdown-menu-link">Coming Soon</a></li>
                                </ul>
                            </li>
                            <!-- End Pages -->

                            <li class="s-header-v2__nav-item"><a href="about.html" class="s-header-v2__nav-link">About</a></li>
                            <li class="s-header-v2__nav-item"><a href="services.html" class="s-header-v2__nav-link">Services</a></li>
                            <li class="s-header-v2__nav-item"><a href="index_portfolio.html" class="s-header-v2__nav-link">Portfolio</a></li>
                            <li class="s-header-v2__nav-item"><a href="contacts.html" class="s-header-v2__nav-link s-header-v2__nav-link--dark">Contacts</a></li>
                        </ul>
                    </div>
                    <!-- End Nav Menu -->
                </div>
            </div>
            <!-- End Navbar Row -->
        </div>
    </nav>
    <!-- End Navbar -->
</header>
<!--========== END HEADER V2 ==========-->