{% load static %}
{% load staticfiles %}
{% load i18n %}

<!--========== HEADER V2 ==========-->
<header class="navbar-fixed-top s-header-v2 js__header-sticky">
    <!-- Navbar -->
    <nav class="s-header-v2__navbar">
        <div class="container g-display-table--lg">
            <!-- Navbar Row -->
            <div class="s-header-v2__navbar-row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="s-header-v2__navbar-col">
                    <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                    <!-- Logo -->
                    <div class="s-header-v2__logo">
                        <a href="#" class="s-header-v2__logo-link">
                                </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                        <ul class="s-header-v2__nav">
                            <!-- Home -->
                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="" class="dropdown-toggle s-header-v2__nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false"> {% trans "Paciente" %}<span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li><a href="{% url 'login_patient' %}" class="s-header-v2__dropdown-menu-link">{% trans "Login" %}</a></li>
                                </ul>
                            </li>
                            <!-- End Home -->

                            <!-- Pages -->
                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="javascript:void(0);" class="dropdown-toggle s-header-v2__nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">{% trans "Profissional de Saúde" %} <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li><a href="{% url 'login_healthprofessional' %}" class="s-header-v2__dropdown-menu-link">Login</a></li>
                                    <li><a href="{% url 'register' %}" class="s-header-v2__dropdown-menu-link">{% trans "Cadastro" %}</a></li>
                                </ul>
                            </li>
                            <!-- End Pages -->
                        </ul>
                    </div>
                    <!-- End Nav Menu -->
                </div>
            </div>
            <!-- End Navbar Row -->
        </div>
    </nav>
    <!-- End Navbar -->
</header>
<!--========== END HEADER V2 ==========-->
