{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}

    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover">
      {% if list_exam %}
        <thead>
          <th>{% trans "Código Tuss" %}</th>
          <th>{% trans "Descrição" %}</th>
        </thead>
      <tbody>
      {% endif %}

      {% for exam in list_exam %}
      <tr class='clickable-row'>
        {% if exam.is_active and exam.id_tuss != '' %}
            <td>{{ exam.id_tuss }}</td>
            <td>{{ exam.description }}</td>
        {% endif %}
      </tr>
          {% empty %}
          Não existem Exames cadastrados.
      {% endfor %}
      </table>
    </div>
    {# .... **Now the pagination section** ....#}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "Página Anterior" %}</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "Próxima Página" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}
