{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}

<!-- Panel -->

{% csrf_token %}
<form action='' method="POST">
  <div class="form-group">
    {% csrf_token %}
    <div class="col-sm-12">
      <font size="5">
        <span class="label label-primary">{% trans "Nome da Fórmula" %}</span>
      </font>
      {{ form.recipe_name }}
    </div>
    <br>

    <div class="col-sm-12">
      <font size="5">
        <span class="label label-primary">{% trans "Forma Física" %}</span>
      </font>
      {{ form.physical_form }}
    </div>
    <br>

    <div class="col-sm-12">
      <font size="5">
        <span class="label label-primary">{% trans "Quantidade" %}</span>
      </font>
      {{ form.quantity }}
    </div>

    <div class="col-sm-12">
      <font size="5">
        <span class="label label-primary">{% trans "Unidade de Medida" %}</span>
      </font>
      <br> {{ form.measurement }}
    </div>
    <br>

    <div class="col-sm-12">
      <font size="5">
        <span class="label label-primary">{% trans "Composição" %}</span>
      </font>
      {{ form.composition }}
    </div>

    <br><br>
    <div class="col-sm-2 col-sm-push-5">
      <br>
      <button type="submit" class="btn btn-success">{% trans "Cadastrar" %}</button>
    </div>
  </div>
</form>
{% endblock %}
