{% extends "dashboardHealthProfessional/template.html" %} {% block content %} {% load staticfiles %} {% load static %} {% load i18n %}
  <!-- Define tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#general">{% trans "Gerais" %}</a></li>
    <li><a data-toggle="tab" href="#custons">{% trans "Customizados" %}</a></li>
  </ul>
  <!-- End define tabs -->

  <div class="tab-content">

    <!-- Tab General -->
    <div id="general" class="tab-pane fade in active">
      <table class="table table-striped table-bordered table-hover">
      <thead>
      {% if list_active_principle > 0 %}
      <th>Nome</th>
      {% endif %}
      </thead>
      <tbody>

      {% for activePrinciple in list_active_principle %}
      <tr class='clickable-row'>
      <td>{{ activePrinciple.name }}</td>
      </tr>
      {% empty %}
      <br>
      <li><b>{% trans "Não existem princípios ativos cadastrados." %}</b></li>
      {% endfor %}
      </table>

      <!-- Pagination General -->
      {% if is_paginated %}
        <ul class="pagination">

        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
      {% endif %}
      <!-- End Pagination General -->

    </div>
    <!-- End Tab General -->

    <!-- Tab Custom -->
    <div id="custons" class="tab-pane fade">
      <table class="table table-striped table-bordered table-hover">
      <thead>
      {% if list_active_principle > 0 %}
      <th>{% trans "Nome" %}</th>
      <th>{% trans "Editar" %}</th>
      {% endif %}
      </thead>
      <tbody>
      <!-- Listing Custom Active Principle -->
      {% for custonActivePrinciple in custons %}
      <tr class='clickable-row'>
      <td>{{ custonActivePrinciple.name }}</td>
      <td><a href="{% url 'edit_activePrinciple' custonActivePrinciple.id %}" data-confirm="true"><i class="fa-pencil" aria-hidden="true"></></a></td >
      </tr>
      {% empty %}
      <br>
      <li><b>{% trans "Não existem princípios ativos cadastrados." %}</b></li>
      {% endfor %}
      <!-- End Listing Custom Active Principle -->
      </table>

      <!-- Custom Pagination -->
      {% if is_paginated %}
        <ul class="pagination">

        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
      {% endif %}
      <!-- End Custom Pagination -->

    </div>
    <!-- End Tab Custom -->
  </div>


{%endblock %}
